<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Panel dziekanatu</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <h1>Panel dziekanatu</h1>
    <hr>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{userEditionForm.html}">Zmień hasło do konta</a></div>
    </div>

    <h3>Studenci</h3><hr>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/recruitmentList.html}">Lista rekrutacyjna</a></div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/studentsList.html}">Skreśl studenta</a></div>
    </div>


    <h3>Pracownicy</h3><hr>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/promoterForm.html}">Dodaj promotora</a></div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/promoterList.html}">Lista promotorów</a></div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/employerList.html}">Lista pracowników</a></div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/courseForm.html}">Dodaj kierunek</a></div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-4"><a class="btn btn-primary btn-block" th:href="@{/courseList.html}">Lista kierunków</a></div>
    </div>



</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>