<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Rekrutacja na studia</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:method="POST" th:object="${rekrutacja}" th:action="@{/recruitmentForm.html}">
                <fieldset>
                    <h1>Rekrutacja na studia</h1>

                    <br>

                    <div class="form-group">
                        <p>Wynik egzaminu z matematyki:</p>
                        <input type="text" name="wynik1" th:value="*{wynik1}"
                               class="form-control" th:classappend="${#fields.hasErrors('wynik1')}?'is-invalid'"
                               placeholder="wynik1" required="true" autofocus="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('wynik1')}">
                            <span th:each="err : ${#fields.errors('wynik1')}" th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Wynik egzaminu z języka obcego:</p>
                        <input type="text" name="wynik2" th:value="*{wynik2}"
                               class="form-control" th:classappend="${#fields.hasErrors('wynik2')}?'is-invalid'"
                               placeholder="wynik2" required="true" autofocus="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('wynik2')}">
                            <span th:each="err : ${#fields.errors('wynik2')}" th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Kierunek studiów:</p>
                        <select th:field="*{course.id}" class="form-control"
                                th:classappend="${#fields.hasErrors('course.id')}?'is-invalid'">
                            <option value="-1">--Wybierz kierunek--</option>
                            <option th:each="kurs : ${kursy}"
                                    th:value="${kurs.id}"
                                    th:text=" ${kurs.nazwa}"
                            />
                        </select>
                        <div class="error text-danger" th:if="${#fields.hasErrors('course.id')}">
                            <p th:each="err : ${#fields.errors('course.id')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zapisz"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="hidden" th:field="*{id}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>


</body>
</html>