<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lista przedmiotów</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div class="container">

    <span th:if="${#lists.isEmpty(subjectListPage)}">
        <h1>Lista przedmiotów jest pusta.</h1>
    </span>
    <span th:unless="${#lists.isEmpty(subjectListPage)}">

<H1>Lista przedmiotów</H1>
<table class="table table-striped">

    <thead class="thead-dark">
    <tr>
        <th>Nazwa przedmiotu</th>
        <th>Kierunek</th>
        <th>Semestr</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="subject : ${subjectListPage}">
        <td> <a  th:align="right"  th:href="@{/subjectList.html(id=${subject.id})}">[[${subject.nazwa}]]</a></td>
        <td th:text="${subject.course.nazwa}"></td>
        <td th:text="${subject.semestr}"></td>

        <td sec:authorize="hasRole('ROLE_KIEROWNIK')" >
            <a class="btn btn-danger" th:href="@{subjectList.html(did=${subject.id})}">Usuń</a>
            <a class="btn btn-success" th:href="@{subjectForm.html(id=${subject.id})}">Edytuj</a>
        </td>
    </tr>
    </tbody>
</table>
    </span>
<a sec:authorize="hasRole('ROLE_KIEROWNIK')" class="btn btn-success" href="subjectForm.html">Dodaj Nowy</a>

</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>